<!DOCTYPE html>
<html lang="en">
<% include ../../partials/_head.ejs %>

<body>

<div class="container-fluid">
    <% include ../../partials/_navbar.ejs %>

    <div class="row justify-content-sm-center">
        <div class="col-sm-6">
            <div class="center-text">  
                <h1><%= user.username %> Show Page</h1>
                <a href="/users/<%= user._id %>/edit"><button>Edit Profile</button></a>
                <form action="/users/<%= user._id%>?_method=DELETE" method="post">
                    <button type="submit">Delete</button>
                </form>
                <ul>
                <% for (let i = 0; i < user.dreams.length; i++ ) {%>
                    <li>Title: <a href="/dreams/<%= user.dreams[i]._id %>"><%= user.dreams[i].title %></a> - Keywords:
                        <% for (let x = 0; x < user.dreams[i].keywords.length; x++ ) {%>
                            <span> <%= user.dreams[i].keywords[x].word %></a></span>
                        <% } %>
                    </li>
                <% } %>
                </ul>
                <div>Your Most Used Keywords<br>
                    <ul>
                    <% for (let i = 0; i < keywords.length; i++) {%>
                        <% if (keywords[i].count > 0) { %>
                            <li><%= keywords[i].word %>: <%= keywords[i].count %></li>
                       <% } %>
                    <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

    <% include ../../partials/_bootstrap-links.ejs %>
</body>
</html>