<!DOCTYPE html>
<html lang="en">
<% include ../../partials/_head.ejs %>



<div class="container-fluid">
    <% include ../../partials/_navbar.ejs %>

<body> 
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="center-text">  

                <h1><%= user.username%>'s Profile</h1>

                <div class="profile-img">
                <img src="https://source.unsplash.com/random?{face}" class="img-thumbnail" alt="face">
                </div>

                <div class="dream-buttons">
                    <a href="/users/<%= user._id %>/edit"><button type="submit" class="btn btn-success">Edit Profile</button></a>
                </div>
                <div class="dream-buttons">
                    <form action="/users/<%= user._id%>?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-success">Delete Profile</button>
                    </form>
                </div>

              







                
                <div>Your Most Used Keywords<br>
                    <ul>
                    <% for (let i = 0; i < keywords.length; i++) {%>
                        <% if (keywords[i].count > 0) { %>
                            <li><%= keywords[i].word %>: <%= keywords[i].count %></li>
                       <% } %>
                    <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</div>

    <% include ../../partials/_bootstrap-links.ejs %>

</html>