<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDIT DREAM</title>
</head>
<body>
 
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<% include ../../partials/_head.ejs %>

<body>
   
<div class="container-fluid">
 <% include ../../partials/_navbar.ejs %>
    <div class="row justify-content-sm-center">
        <div class="col-sm-6">
            <div class="center-text">  
                <h1>Edit <%=dream.title%></h1>
                <form action="/dreams/<%=dream._id%>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label class="form-text">Title:</label>
                        <input type="text" class="form-control" id="exampleInputTitle1" name="title" value="<%=dream.title%>">
                    </div>
                    <div class="form-group">
                        <label class="form-text">Theme/Keyword:</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="keywordId" required>
                        <% keywords.forEach((keyword) => { %>
                            <option value="<%=keyword._id%>"><%=keyword.word%></option>
                        <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-text">Describe your dream:</label>
                        <textarea rows="8" class="form-control" name="body"><%=dream.body%></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-text">Upload Date:</label>
                        <input type="date" class="form-control" id="exampleInputDatePicker1" name="date" value="<%=datePickerFormat%>" required>
                    </div>
                    <div class="form-check">
                        <% if (dream.public) { %>
                            <input type="checkbox" name="public" checked="checked">
                        <% } else { %>
                            <input type="checkbox" name="public">
                        <% } %>
                        <label class="form-text">Set dream to Public?</label>
                    </div>
                    <button type="submit" class="btn btn-success" value="Update Dream">Submit Edits</button>
                </form>
            </div>
        </div>
    </div>
</div>
    <% include ../../partials/_bootstrap-links.ejs %>
</body>
</html>